@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --rowNum: 8;
    --colNum: 10;
    --cellDim: 30px;
    --gameWidth: 300px;

    font-family: Roboto,Arial,sans-serif;
    color: white;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.blue {
    color: blue !important;
}

.green {
    color: green !important;
}

.red {
    color: red !important;
}

.purple {
    color: purple !important;
}

.black {
    color: black !important;
}

.maroon {
    color: maroon !important;
}

.gray {
    color: gray !important;
}

.turquoise {
    color: turquoise !important;
}

div#game {
    width: var(--gameWidth);
    background-color: #aaaaaa;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div#header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    align-items: center;
    height: 60px;
    background-color: #49752B;
    position: relative;
}

div#header > div:first-child {
    text-align: center;
}

img.icon {
    width: 38px;
}

div#flag-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;
    align-items: center;
    color: white;
    font-size: 20px;
}

div#field {
    display: grid;
    grid-template-columns: repeat(var(--colNum), var(--cellDim));
    grid-template-rows: repeat(var(--rowNum), var(--cellDim));
    justify-items: stretch;
}

div.cell{
    /* display: block;
    float: left; */
    text-align: center;
    line-height: var(--cellDim);
    font-size: 28px;
    font-weight: bolder;
    color: #1975D2;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

div.even {
    background-color: #A7D948;
}

div.even:hover {
    background-color: #BFE17C;
}

div.even.revealed {
    background-color: #E5C29F;
}

div.odd {
    background-color: #8ECC39;
}

div.odd:hover {
    background-color: #B9DD76;
}

div.odd.revealed {
    background-color: #D7B899;
}

div.cell.flagged {
    background-image: url('./icons/flag_icon.png');
    background-size: contain;
}

/* ************************************************** */

#overlay {
    position: fixed;
    /* display: block; */
    display: hidden;
    width: var(--gameWidth);
    height: 420px;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

/* ************************************************** */

#final-win {
    display: none;
    /* display: block; */
}

#win{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;

    font-size: 24px;
    font-weight: bolder;

    border-radius: 10px;
    background-color: #4DC1F9;
    width: 360px;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#result {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4fr 1fr;
    justify-items: center;
    align-items: center;
}

img.icon-lg {
    width: 72px;
}

#win-img {
    width: 360px;
    border-radius: 10px;
}

#lose{
    display: none;
    /* display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;

    font-size: 24px;
    font-weight: bolder;

    border-radius: 10px;
    background-color: #4DC1F9;
    width: 360px;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

/* ************************************************** */

#replay {
    position: fixed;
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    left: 50%;
    top: 69%;
    transform: translate(-50%, -50%);
    background-color: #49752B;
    z-index: 4;

    font-size: 18px;
    line-height: 50px;
    text-align: center;
}

  #replay img {
      width: 24px;
      line-height: 50px;
  }

/* ************************************************** */

.scale-up-bottom {
	-webkit-animation: scale-up-bottom 0.4s both;
	        animation: scale-up-bottom 0.4s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-2-14 20:46:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-bottom {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
}
@keyframes scale-up-bottom {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
}
