:root {
    --rowNum: 8;
    --colNum: 10;
    --cellDim: 30px;
    --gameWidth: 300px;
  }

div#game {
    width: var(--gameWidth);
    margin: 50px auto;
    background-color: #aaaaaa;
}

div#header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;
    vertical-align: middle;
}

div#mine-count,
div#timer {
    float: right;
}

div#flag {
    background-image: url('./icons/flag_icon.png');
    background-size: contain;
    float: right;
    width: 30px;
    height: 30px;
}

div#clock {
    background-image: url('./icons/clock_icon.png');
    background-size: contain;
    float: right;
    width: 30px;
    height: 30px;
}

div#field {
    display: grid;
    grid-template-columns: repeat(var(--colNum), var(--cellDim));
    grid-template-rows: repeat(var(--rowNum), var(--cellDim));
    justify-items: stretch;
}

div.cell{
    display: block;
    float: left;
    text-align: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

div.even {
    background-color: #A7D948;
}

div.even:hover {
    background-color: #BFE17C;
}

div.even.revealed {
    background-color: #D7B899;
}

div.odd {
    background-color: #8ECC39;
}

div.odd:hover {
    background-color: #B9DD76;
}

div.odd.revealed {
    background-color: #E5C29F;
}

div.cell.flagged {
    background-image: url('./icons/flag_icon.png');
    background-size: contain;
}